# AirBnB Project for  **Project: Write A Data Science Blog Post**

### 0.1  Key Steps for Project

Feel free to be creative with your solutions, but do follow the CRISP-DM process in finding your solutions.

1) Pick a dataset.

2) Pose at least three questions related to business or real-world applications of how the data could be used.

3) Create a Jupyter Notebook, using any associated packages you'd like, to:

    Prepare data:
        Gather necessary data to answer your questions
        Handle categorical and missing data
        Provide insight into the methods you chose and why you chose them

    Analyze, Model, and Visualize
        Provide a clear connection between your business questions and how the data answers them.

4) Communicate your business insights:

    Create a Github repository to share your code and data wrangling/modeling techniques, with a technical audience in mind
    Create a blog post to share your questions and insights with a non-technical audience

Your deliverables will be a Github repo and a blog post. Use the rubric here to assist in successfully completing this project!

## 0.2 [Rubric](https://review.udacity.com/#!/rubrics/1507/view)

#### Code Functionality and Readability
* Code is readable (uses good coding practices - PEP8) 
* Code is functional.
* Write code that is well documented and uses functions and classes as necessary.

#### Data
* Project follows the CRISP-DM Process while analyzing their data.
* Proper handling of categorical and missing values in the dataset.
* Categorical variables are handled appropriately for machine learning models (if models are created). 

#### Analysis, Modeling, Visualization
* There are 3-5 business questions answered.
	
#### Github Repository
* Student must publish their code in a public Github repository.
	
#### Blog Post
* Communicate their findings with stakeholders.
* There should be an intriguing title and image related to the project.
* The body of the post has paragraphs that are broken up by appropriate white space and images.
* Each question has a clearly communicated solution.

###  0.3  CRISP-DM

## 1.1 Header

In [1]:
%matplotlib inline
import pandas as pd
import numpy as np
import os.path as op
import ast
import os

In [2]:
PATH = os.getcwd()+"\All Data"
PATH

'C:\\Users\\thoma\\Documents\\Udacity\\DSND_Term2\\project_files\\AirBnB\\All Data'

In [3]:
os.listdir(PATH)

['b_calendar.csv',
 'b_listings.csv',
 'b_reviews.csv',
 's_calendar.csv',
 's_listings.csv',
 's_reviews.csv']

In [33]:
df_listing = pd.read_csv(PATH+'\s_listings.csv',index_col=0)

In [5]:
df_cal = pd.read_csv(PATH+'\s_calendar.csv',index_col=0)

C:\Users\thoma\Anaconda3\lib\site-packages\numpy\lib\arraysetops.py:466: FutureWarning: elementwise comparison failed; returning scalar instead, but in the future will perform elementwise comparison
  mask |= (ar1 == a)

In [6]:
df_rev = pd.read_csv(PATH+'\s_reviews.csv',index_col=0)

In [32]:
pd.read_csv()

Signature: pd.read_csv(filepath_or_buffer, sep=',', delimiter=None, header='infer', names=None, index_col=None, usecols=None, squeeze=False, prefix=None, mangle_dupe_cols=True, dtype=None, engine=None, converters=None, true_values=None, false_values=None, skipinitialspace=False, skiprows=None, nrows=None, na_values=None, keep_default_na=True, na_filter=True, verbose=False, skip_blank_lines=True, parse_dates=False, infer_datetime_format=False, keep_date_col=False, date_parser=None, dayfirst=False, iterator=False, chunksize=None, compression='infer', thousands=None, decimal=b'.', lineterminator=None, quotechar='"', quoting=0, escapechar=None, comment=None, encoding=None, dialect=None, tupleize_cols=None, error_bad_lines=True, warn_bad_lines=True, skipfooter=0, skip_footer=0, doublequote=True, delim_whitespace=False, as_recarray=None, compact_ints=None, use_unsigned=None, low_memory=True, buffer_lines=None, memory_map=False, float_precision=None)
Docstring:
Read CSV (comma-separated) file into DataFrame

Also supports optionally iterating or breaking of the file
into chunks.

Additional help can be found in the `online docs for IO Tools
<http://pandas.pydata.org/pandas-docs/stable/io.html>`_.

Parameters
----------
filepath_or_buffer : str, pathlib.Path, py._path.local.LocalPath or any object with a read() method (such as a file handle or StringIO)
    The string could be a URL. Valid URL schemes include http, ftp, s3, and
    file. For file URLs, a host is expected. For instance, a local file could
    be file ://localhost/path/to/table.csv
sep : str, default ','
    Delimiter to use. If sep is None, the C engine cannot automatically detect
    the separator, but the Python parsing engine can, meaning the latter will
    be used and automatically detect the separator by Python's builtin sniffer
    tool, ``csv.Sniffer``. In addition, separators longer than 1 character and
    different from ``'\s+'`` will be interpreted as regular expressions and
    will also force the use of the Python parsing engine. Note that regex
    delimiters are prone to ignoring quoted data. Regex example: ``'\r\t'``
delimiter : str, default ``None``
    Alternative argument name for sep.
delim_whitespace : boolean, default False
    Specifies whether or not whitespace (e.g. ``' '`` or ``'    '``) will be
    used as the sep. Equivalent to setting ``sep='\s+'``. If this option
    is set to True, nothing should be passed in for the ``delimiter``
    parameter.

    .. versionadded:: 0.18.1 support for the Python parser.

header : int or list of ints, default 'infer'
    Row number(s) to use as the column names, and the start of the
    data.  Default behavior is to infer the column names: if no names
    are passed the behavior is identical to ``header=0`` and column
    names are inferred from the first line of the file, if column
    names are passed explicitly then the behavior is identical to
    ``header=None``. Explicitly pass ``header=0`` to be able to
    replace existing names. The header can be a list of integers that
    specify row locations for a multi-index on the columns
    e.g. [0,1,3]. Intervening rows that are not specified will be
    skipped (e.g. 2 in this example is skipped). Note that this
    parameter ignores commented lines and empty lines if
    ``skip_blank_lines=True``, so header=0 denotes the first line of
    data rather than the first line of the file.
names : array-like, default None
    List of column names to use. If file contains no header row, then you
    should explicitly pass header=None. Duplicates in this list will cause
    a ``UserWarning`` to be issued.
index_col : int or sequence or False, default None
    Column to use as the row labels of the DataFrame. If a sequence is given, a
    MultiIndex is used. If you have a malformed file with delimiters at the end
    of each line, you might consider index_col=False to force pandas to _not_
    use the first column as the index (row names)
usecols : array-like or callable, default None
    Return a subset of the columns. If array-like, all elements must either
    be positional (i.e. integer indices into the document columns) or strings
    that correspond to column names provided either by the user in `names` or
    inferred from the document header row(s). For example, a valid array-like
    `usecols` parameter would be [0, 1, 2] or ['foo', 'bar', 'baz'].

    If callable, the callable function will be evaluated against the column
    names, returning names where the callable function evaluates to True. An
    example of a valid callable argument would be ``lambda x: x.upper() in
    ['AAA', 'BBB', 'DDD']``. Using this parameter results in much faster
    parsing time and lower memory usage.
as_recarray : boolean, default False
    .. deprecated:: 0.19.0
       Please call `pd.read_csv(...).to_records()` instead.

    Return a NumPy recarray instead of a DataFrame after parsing the data.
    If set to True, this option takes precedence over the `squeeze` parameter.
    In addition, as row indices are not available in such a format, the
    `index_col` parameter will be ignored.
squeeze : boolean, default False
    If the parsed data only contains one column then return a Series
prefix : str, default None
    Prefix to add to column numbers when no header, e.g. 'X' for X0, X1, ...
mangle_dupe_cols : boolean, default True
    Duplicate columns will be specified as 'X.0'...'X.N', rather than
    'X'...'X'. Passing in False will cause data to be overwritten if there
    are duplicate names in the columns.
dtype : Type name or dict of column -> type, default None
    Data type for data or columns. E.g. {'a': np.float64, 'b': np.int32}
    Use `str` or `object` to preserve and not interpret dtype.
    If converters are specified, they will be applied INSTEAD
    of dtype conversion.
engine : {'c', 'python'}, optional
    Parser engine to use. The C engine is faster while the python engine is
    currently more feature-complete.
converters : dict, default None
    Dict of functions for converting values in certain columns. Keys can either
    be integers or column labels
true_values : list, default None
    Values to consider as True
false_values : list, default None
    Values to consider as False
skipinitialspace : boolean, default False
    Skip spaces after delimiter.
skiprows : list-like or integer or callable, default None
    Line numbers to skip (0-indexed) or number of lines to skip (int)
    at the start of the file.

    If callable, the callable function will be evaluated against the row
    indices, returning True if the row should be skipped and False otherwise.
    An example of a valid callable argument would be ``lambda x: x in [0, 2]``.
skipfooter : int, default 0
    Number of lines at bottom of file to skip (Unsupported with engine='c')
skip_footer : int, default 0
    .. deprecated:: 0.19.0
       Use the `skipfooter` parameter instead, as they are identical
nrows : int, default None
    Number of rows of file to read. Useful for reading pieces of large files
na_values : scalar, str, list-like, or dict, default None
    Additional strings to recognize as NA/NaN. If dict passed, specific
    per-column NA values.  By default the following values are interpreted as
    NaN: '', '#N/A', '#N/A N/A', '#NA', '-1.#IND', '-1.#QNAN', '-NaN', '-nan',
    '1.#IND', '1.#QNAN', 'N/A', 'NA', 'NULL', 'NaN', 'n/a', 'nan',
    'null'.
keep_default_na : bool, default True
    If na_values are specified and keep_default_na is False the default NaN
    values are overridden, otherwise they're appended to.
na_filter : boolean, default True
    Detect missing value markers (empty strings and the value of na_values). In
    data without any NAs, passing na_filter=False can improve the performance
    of reading a large file
verbose : boolean, default False
    Indicate number of NA values placed in non-numeric columns
skip_blank_lines : boolean, default True
    If True, skip over blank lines rather than interpreting as NaN values
parse_dates : boolean or list of ints or names or list of lists or dict, default False

    * boolean. If True -> try parsing the index.
    * list of ints or names. e.g. If [1, 2, 3] -> try parsing columns 1, 2, 3
      each as a separate date column.
    * list of lists. e.g.  If [[1, 3]] -> combine columns 1 and 3 and parse as
      a single date column.
    * dict, e.g. {'foo' : [1, 3]} -> parse columns 1, 3 as date and call result
      'foo'

    If a column or index contains an unparseable date, the entire column or
    index will be returned unaltered as an object data type. For non-standard
    datetime parsing, use ``pd.to_datetime`` after ``pd.read_csv``

    Note: A fast-path exists for iso8601-formatted dates.
infer_datetime_format : boolean, default False
    If True and `parse_dates` is enabled, pandas will attempt to infer the
    format of the datetime strings in the columns, and if it can be inferred,
    switch to a faster method of parsing them. In some cases this can increase
    the parsing speed by 5-10x.
keep_date_col : boolean, default False
    If True and `parse_dates` specifies combining multiple columns then
    keep the original columns.
date_parser : function, default None
    Function to use for converting a sequence of string columns to an array of
    datetime instances. The default uses ``dateutil.parser.parser`` to do the
    conversion. Pandas will try to call `date_parser` in three different ways,
    advancing to the next if an exception occurs: 1) Pass one or more arrays
    (as defined by `parse_dates`) as arguments; 2) concatenate (row-wise) the
    string values from the columns defined by `parse_dates` into a single array
    and pass that; and 3) call `date_parser` once for each row using one or
    more strings (corresponding to the columns defined by `parse_dates`) as
    arguments.
dayfirst : boolean, default False
    DD/MM format dates, international and European format
iterator : boolean, default False
    Return TextFileReader object for iteration or getting chunks with
    ``get_chunk()``.
chunksize : int, default None
    Return TextFileReader object for iteration.
    See the `IO Tools docs
    <http://pandas.pydata.org/pandas-docs/stable/io.html#io-chunking>`_
    for more information on ``iterator`` and ``chunksize``.
compression : {'infer', 'gzip', 'bz2', 'zip', 'xz', None}, default 'infer'
    For on-the-fly decompression of on-disk data. If 'infer' and
    `filepath_or_buffer` is path-like, then detect compression from the
    following extensions: '.gz', '.bz2', '.zip', or '.xz' (otherwise no
    decompression). If using 'zip', the ZIP file must contain only one data
    file to be read in. Set to None for no decompression.

    .. versionadded:: 0.18.1 support for 'zip' and 'xz' compression.

thousands : str, default None
    Thousands separator
decimal : str, default '.'
    Character to recognize as decimal point (e.g. use ',' for European data).
float_precision : string, default None
    Specifies which converter the C engine should use for floating-point
    values. The options are `None` for the ordinary converter,
    `high` for the high-precision converter, and `round_trip` for the
    round-trip converter.
lineterminator : str (length 1), default None
    Character to break file into lines. Only valid with C parser.
quotechar : str (length 1), optional
    The character used to denote the start and end of a quoted item. Quoted
    items can include the delimiter and it will be ignored.
quoting : int or csv.QUOTE_* instance, default 0
    Control field quoting behavior per ``csv.QUOTE_*`` constants. Use one of
    QUOTE_MINIMAL (0), QUOTE_ALL (1), QUOTE_NONNUMERIC (2) or QUOTE_NONE (3).
doublequote : boolean, default ``True``
   When quotechar is specified and quoting is not ``QUOTE_NONE``, indicate
   whether or not to interpret two consecutive quotechar elements INSIDE a
   field as a single ``quotechar`` element.
escapechar : str (length 1), default None
    One-character string used to escape delimiter when quoting is QUOTE_NONE.
comment : str, default None
    Indicates remainder of line should not be parsed. If found at the beginning
    of a line, the line will be ignored altogether. This parameter must be a
    single character. Like empty lines (as long as ``skip_blank_lines=True``),
    fully commented lines are ignored by the parameter `header` but not by
    `skiprows`. For example, if comment='#', parsing '#empty\na,b,c\n1,2,3'
    with `header=0` will result in 'a,b,c' being
    treated as the header.
encoding : str, default None
    Encoding to use for UTF when reading/writing (ex. 'utf-8'). `List of Python
    standard encodings
    <https://docs.python.org/3/library/codecs.html#standard-encodings>`_
dialect : str or csv.Dialect instance, default None
    If provided, this parameter will override values (default or not) for the
    following parameters: `delimiter`, `doublequote`, `escapechar`,
    `skipinitialspace`, `quotechar`, and `quoting`. If it is necessary to
    override values, a ParserWarning will be issued. See csv.Dialect
    documentation for more details.
tupleize_cols : boolean, default False
    .. deprecated:: 0.21.0
       This argument will be removed and will always convert to MultiIndex

    Leave a list of tuples on columns as is (default is to convert to
    a MultiIndex on the columns)
error_bad_lines : boolean, default True
    Lines with too many fields (e.g. a csv line with too many commas) will by
    default cause an exception to be raised, and no DataFrame will be returned.
    If False, then these "bad lines" will dropped from the DataFrame that is
    returned.
warn_bad_lines : boolean, default True
    If error_bad_lines is False, and warn_bad_lines is True, a warning for each
    "bad line" will be output.
low_memory : boolean, default True
    Internally process the file in chunks, resulting in lower memory use
    while parsing, but possibly mixed type inference.  To ensure no mixed
    types either set False, or specify the type with the `dtype` parameter.
    Note that the entire file is read into a single DataFrame regardless,
    use the `chunksize` or `iterator` parameter to return the data in chunks.
    (Only valid with C parser)
buffer_lines : int, default None
    .. deprecated:: 0.19.0
       This argument is not respected by the parser
compact_ints : boolean, default False
    .. deprecated:: 0.19.0
       Argument moved to ``pd.to_numeric``

    If compact_ints is True, then for any column that is of integer dtype,
    the parser will attempt to cast it as the smallest integer dtype possible,
    either signed or unsigned depending on the specification from the
    `use_unsigned` parameter.
use_unsigned : boolean, default False
    .. deprecated:: 0.19.0
       Argument moved to ``pd.to_numeric``

    If integer columns are being compacted (i.e. `compact_ints=True`), specify
    whether the column should be compacted to the smallest signed or unsigned
    integer dtype.
memory_map : boolean, default False
    If a filepath is provided for `filepath_or_buffer`, map the file object
    directly onto memory and access the data directly from there. Using this
    option can improve performance because there is no longer any I/O overhead.

Returns
-------
result : DataFrame or TextParser
File:      c:\users\thoma\anaconda3\lib\site-packages\pandas\io\parsers.py
Type:      function

In [87]:
def clean_listings(df):
    ''' Return a cleaned dataframe derived from listing.csv file

    1) Fixes Datetime cols -> datetime format
    2) Fixes percentage strings to float
    3) Fixes bool strings to bool cols
    4) Fixes datatype of oject to categories were appropraite
    5) 

    Parameters
    -------
    df:  Pandas DataFrame with an already imported lsiting.csv

    '''

    ## Clean percentage strings to float values
    pct_col = ['host_acceptance_rate','host_response_rate']
    for pc in pct_col:
        df[pc] = df[pc].str.strip("%")
        df[pc] = df[pc].astype('float')
        df[pc] = df[pc].apply(lambda x: x/100)
        ''' Replaced...
        df_listing['host_acceptance_rate'] = df_listing['host_acceptance_rate'].str.strip("%")
        df_listing['host_acceptance_rate'] = df_listing['host_acceptance_rate'].astype('float')
        df_listing['host_response_rate'] = df_listing['host_response_rate'].str.strip("%")
        df_listing['host_response_rate'] = df_listing['host_response_rate'].astype('float')
        df_listing['host_response_rate'] = df_listing['host_response_rate'].apply(lambda x: x/100)
        df_listing['host_acceptance_rate'] = df_listing['host_acceptance_rate'].apply(lambda x: x/100)'''

    dol_col = ['cleaning_fee','extra_people']
    for dol in dol_col:
        df[dol] = dc[dol].str.strip('$').astype('float')
        
    ## Change type to category
    cat_col = ['host_response_time','host_location','host_neighbourhood','neighbourhood',
               'neighbourhood_cleansed','neighbourhood_group_cleansed','city','state','zipcode',
              'market','smart_location','country_code','country','property_type','room_type',
              'calendar_updated']
    
    for cc in cat_col:
        df[cc] = df[cc].astype('category')
    ''' Replace
        df_listing['host_response_time'] = df_listing['host_response_time'].astype('category')
        df_listing['host_location'] = df_listing['host_location'].astype('category')
        df_listing['host_neighbourhood'] = df_listing['host_neighbourhood'].astype('category')
        
        df_listing['neighbourhood'] = df_listing['neighbourhood'].astype('category')
        df_listing['neighbourhood_cleansed'] = df_listing['neighbourhood_cleansed'].astype('category')
        df_listing['neighbourhood_group_cleansed'] = df_listing['neighbourhood_group_cleansed'].astype('category')
        df_listing['city'] = df_listing['city'].astype('category')
        df_listing['state'] = df_listing['state'].astype('category')
        df_listing['zipcode'] = df_listing['zipcode'].astype('category')
        
        df_listing['market'] = df_listing['market'].astype('category')
        df_listing['smart_location'] = df_listing['smart_location'].astype('category')
        df_listing['country_code'] = df_listing['country_code'].astype('category')
        df_listing['country'] = df_listing['country'].astype('category')
        df_listing['property_type'] = df_listing['property_type'].astype('category')
        df_listing['room_type'] = df_listing['room_type'].astype('category'
    '''

    ## Fix Boolean Columns
    bool_col = ['host_is_superhost','host_has_profile_pic','host_identity_verified','is_location_exact','has_availability']
    for bc in bool_col:
        df[bc] = df[bc].replace({'t': True,'f':False})
        df[bc] = df[bc].astype(bool)

        '''Replacing
            df_listing['host_is_superhost'] = df_listing['host_is_superhost'].replace({'t': True,'f':False})
            df_listing['host_has_profile_pic'] = df_listing['host_has_profile_pic'].replace({'t': True,'f':False})
            df_listing['host_identity_verified'] = df_listing['host_identity_verified'].replace({'t': True,'f':False})
            df_listing['host_has_profile_pic'] = df_listing['host_has_profile_pic'].astype(bool)
            df_listing['host_is_superhost'] = df_listing['host_is_superhost'].astype(bool)
            df_listing['host_identity_verified'] = df_listing['host_identity_verified'].astype(bool)
        '''
    
    ## Fix Datetime columns
    dt_col = ['last_scraped','host_since']
    for dt in dt_col:
        df[dt] = pd.to_datetime(df[dt])
        ''' Replacing 
            df_listing['last_scraped'] = pd.to_datetime(df_listing['last_scraped'])
            df_listing['host_since'] = pd.to_datetime(df_listing['host_since'])
        '''

    ## Fix list column
    ## The following code transforms column 'host_verification' to a usable matrix of 
    ##     one hot encoding the contained communicaiton methods
      
    df2 = pd.DataFrame(df['host_verifications'].apply(lambda x:ast.literal_eval(x)))  # string to list #
    df3 = df2.host_verifications.apply(pd.Series)                                   # list -> series across columns #
    df2 = df2.merge(df3, right_index=True, left_index=True)
    df2 = df2.reset_index().melt(id_vars=['id','host_verifications'],value_name = 'host_sm_ver')
    df2 = df2.add_prefix('hv_')
    df = df.merge(df2,left_index=True, right_index=True)
    
    '''Replacing
    
    df2 = pd.DataFrame(df_listing['host_verifications'].apply(lambda x:ast.literal_eval(x)))
    socmed = df_host_verification.host_verifications.apply(pd.Series)
    df_hv = df_host_verification.merge(socmed, right_index=True, left_index=True)
    df_hv = df_hv.reset_index().melt(id_vars=['id','host_verifications'],value_name = 'host_sm_ver')
    dv_hv = dv_hv.add_prefix('hv_')
    df_listing =  df_listing.merge(dv_hv, left_index=True, right_index=True)
    '''
    
    
    return df

In [88]:
df_listing = clean_listings(df_listing)

AttributeError: Can only use .str accessor with string values, which use np.object_ dtype in pandas

In [86]:
df_listing['cleaning_fee'].str.strip('$').astype('float')

20927     10.0
20928     10.0
6606      40.0
11012    195.0
9596      85.0
15108      NaN
14386      NaN
19619     96.0
19611     96.0
24212    107.0
19623    107.0
23430     96.0
9460       NaN
9534      85.0
9531      95.0
17951      NaN
23356      NaN
5682      25.0
3335      75.0
10385     30.0
20868     40.0
11411     20.0
10695     40.0
7369       NaN
23192     80.0
13068    300.0
26116    100.0
25002     15.0
4291      30.0
23919     75.0
9419       NaN
Name: cleaning_fee, dtype: float64

In [78]:
df_listing.iloc[:,60:70].head(2)

,cleaning_fee,guests_included,extra_people,minimum_nights,maximum_nights,calendar_updated,has_availability,availability_30,availability_60,availability_90
20927,$10.00,2,$0.00,2,14,today,t,10,40,70
20928,$10.00,1,$0.00,2,14,today,t,15,41,59

In [79]:
df_listing.iloc[:,60:70].info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 31 entries, 20927 to 9419
Data columns (total 10 columns):
cleaning_fee        24 non-null object
guests_included     31 non-null int64
extra_people        31 non-null object
minimum_nights      31 non-null int64
maximum_nights      31 non-null int64
calendar_updated    31 non-null object
has_availability    31 non-null object
availability_30     31 non-null int64
availability_60     31 non-null int64
availability_90     31 non-null int64
dtypes: int64(6), object(4)
memory usage: 2.7+ KB

In [248]:
df_listing['host_verifications'] = df_listing['host_verifications'].astype(list)

df_host_verification = df_listing[['host_verifications']]

In [46]:
df2 = pd.DataFrame(df_listing['host_verifications'].apply(lambda x:ast.literal_eval(x)))
df2.head()

                                        host_verifications
id
241032                        [email, phone, reviews, kba]
953595   [email, phone, facebook, linkedin, reviews, ju...
3308979             [email, phone, google, reviews, jumio]
7421966           [email, phone, facebook, reviews, jumio]
278830              [email, phone, facebook, reviews, kba]

In [47]:
socmed = df2.host_verifications.apply(pd.Series)
socmed.head(4)

             0      1         2         3        4      5    6    7
id
241032   email  phone   reviews       kba      NaN    NaN  NaN  NaN
953595   email  phone  facebook  linkedin  reviews  jumio  NaN  NaN
3308979  email  phone    google   reviews    jumio    NaN  NaN  NaN
7421966  email  phone  facebook   reviews    jumio    NaN  NaN  NaN

In [56]:
df_hv = df2.merge(socmed, right_index=True, left_index=True)
df_hv.head(4)

,host_verifications,0,1,2,3,4,5,6,7
id,,,,,,,,,
241032,"[email, phone, reviews, kba]",email,phone,reviews,kba,NaN,NaN,NaN,NaN
953595,"[email, phone, facebook, linkedin, reviews, ju...",email,phone,facebook,linkedin,reviews,jumio,NaN,NaN
3308979,"[email, phone, google, reviews, jumio]",email,phone,google,reviews,jumio,NaN,NaN,NaN
7421966,"[email, phone, facebook, reviews, jumio]",email,phone,facebook,reviews,jumio,NaN,NaN,NaN

In [57]:
df_hv = df_hv.reset_index().melt(id_vars=['id','host_verifications'],value_name = 'host_sm_ver')
df_hv.head(4).sort_values('id')

,id,host_verifications,variable,host_sm_ver
0,241032,"[email, phone, reviews, kba]",0,email
1,953595,"[email, phone, facebook, linkedin, reviews, ju...",0,email
2,3308979,"[email, phone, google, reviews, jumio]",0,email
3,7421966,"[email, phone, facebook, reviews, jumio]",0,email

In [58]:


dv_hv = df_hv.pivot_table(values='variable', columns='host_sm_ver',index='id',aggfunc='count',fill_value=0)

In [69]:
dv_hv = dv_hv.add_prefix('hv_')

df_listing.merge(dv_hv, left_index=True, right_index=True)