# AirBnB Project for  **Project: Write A Data Science Blog Post**

### 0.1  Key Steps for Project

Feel free to be creative with your solutions, but do follow the CRISP-DM process in finding your solutions.

1) Pick a dataset.

2) Pose at least three questions related to business or real-world applications of how the data could be used.

3) Create a Jupyter Notebook, using any associated packages you'd like, to:

    Prepare data:
        Gather necessary data to answer your questions
        Handle categorical and missing data
        Provide insight into the methods you chose and why you chose them

    Analyze, Model, and Visualize
        Provide a clear connection between your business questions and how the data answers them.

4) Communicate your business insights:

    Create a Github repository to share your code and data wrangling/modeling techniques, with a technical audience in mind
    Create a blog post to share your questions and insights with a non-technical audience

Your deliverables will be a Github repo and a blog post. Use the rubric here to assist in successfully completing this project!

## 0.2 [Rubric](https://review.udacity.com/#!/rubrics/1507/view)

#### Code Functionality and Readability
* Code is readable (uses good coding practices - PEP8) 
* Code is functional.
* Write code that is well documented and uses functions and classes as necessary.

#### Data
* Project follows the CRISP-DM Process while analyzing their data.
* Proper handling of categorical and missing values in the dataset.
* Categorical variables are handled appropriately for machine learning models (if models are created). 

#### Analysis, Modeling, Visualization
* There are 3-5 business questions answered.
	
#### Github Repository
* Student must publish their code in a public Github repository.
	
#### Blog Post
* Communicate their findings with stakeholders.
* There should be an intriguing title and image related to the project.
* The body of the post has paragraphs that are broken up by appropriate white space and images.
* Each question has a clearly communicated solution.

###  0.3  CRISP-DM

## 1.1 Header

In [132]:
%matplotlib inline
import pandas as pd
import numpy as np
import os.path as op
import os

In [133]:
PATH = os.getcwd()+"\All Data"
PATH

'C:\\Users\\thoma\\Documents\\Udacity\\DSND_Term2\\project_files\\AirBnB\\All Data'

In [134]:
os.listdir(PATH)

['b_calendar.csv',
 'b_listings.csv',
 'b_reviews.csv',
 's_calendar.csv',
 's_listings.csv',
 's_reviews.csv']

In [136]:
df_listing = pd.read_csv(PATH+'\s_listings.csv',index_col=0)

In [137]:
df_cal = pd.read_csv(PATH+'\s_calendar.csv',index_col=0)

C:\Users\thoma\Anaconda3\lib\site-packages\numpy\lib\arraysetops.py:466: FutureWarning: elementwise comparison failed; returning scalar instead, but in the future will perform elementwise comparison
  mask |= (ar1 == a)

In [138]:
df_rev = pd.read_csv(PATH+'\s_reviews.csv',index_col=0)

In [139]:
df_listing.iloc[:,0:10].head()

,listing_url,scrape_id,last_scraped,name,summary,space,description,experiences_offered,neighborhood_overview,notes
id,,,,,,,,,,
241032,https://www.airbnb.com/rooms/241032,20160104002432,2016-01-04,Stylish Queen Anne Apartment,NaN,Make your self at home in this charming one-be...,Make your self at home in this charming one-be...,none,NaN,NaN
953595,https://www.airbnb.com/rooms/953595,20160104002432,2016-01-04,Bright & Airy Queen Anne Apartment,Chemically sensitive? We've removed the irrita...,"Beautiful, hypoallergenic apartment in an extr...",Chemically sensitive? We've removed the irrita...,none,"Queen Anne is a wonderful, truly functional vi...",What's up with the free pillows? Our home was...
3308979,https://www.airbnb.com/rooms/3308979,20160104002432,2016-01-04,New Modern House-Amazing water view,New modern house built in 2013. Spectacular s...,"Our house is modern, light and fresh with a wa...",New modern house built in 2013. Spectacular s...,none,Upper Queen Anne is a charming neighborhood fu...,Our house is located just 5 short blocks to To...
7421966,https://www.airbnb.com/rooms/7421966,20160104002432,2016-01-04,Queen Anne Chateau,A charming apartment that sits atop Queen Anne...,NaN,A charming apartment that sits atop Queen Anne...,none,NaN,NaN
278830,https://www.airbnb.com/rooms/278830,20160104002432,2016-01-04,Charming craftsman 3 bdm house,Cozy family craftman house in beautiful neighb...,Cozy family craftman house in beautiful neighb...,Cozy family craftman house in beautiful neighb...,none,We are in the beautiful neighborhood of Queen ...,Belltown

In [140]:
df_listing.iloc[:,0:10].info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 3818 entries, 241032 to 10208623
Data columns (total 10 columns):
listing_url              3818 non-null object
scrape_id                3818 non-null int64
last_scraped             3818 non-null object
name                     3818 non-null object
summary                  3641 non-null object
space                    3249 non-null object
description              3818 non-null object
experiences_offered      3818 non-null object
neighborhood_overview    2786 non-null object
notes                    2212 non-null object
dtypes: int64(1), object(9)
memory usage: 328.1+ KB

In [141]:
df_listing['last_scraped'] = pd.to_datetime(df_listing['last_scraped'])

In [142]:
df_listing['host_since'] = pd.to_datetime(df_listing['host_since'])

In [143]:
df_listing.iloc[:,10:20].head()

,transit,thumbnail_url,medium_url,picture_url,xl_picture_url,host_id,host_url,host_name,host_since,host_location
id,,,,,,,,,,
241032,NaN,NaN,NaN,https://a1.muscache.com/ac/pictures/67560560/c...,NaN,956883,https://www.airbnb.com/users/show/956883,Maija,2011-08-11,"Seattle, Washington, United States"
953595,"Convenient bus stops are just down the block, ...",https://a0.muscache.com/ac/pictures/14409893/f...,https://a0.muscache.com/im/pictures/14409893/f...,https://a0.muscache.com/ac/pictures/14409893/f...,https://a0.muscache.com/ac/pictures/14409893/f...,5177328,https://www.airbnb.com/users/show/5177328,Andrea,2013-02-21,"Seattle, Washington, United States"
3308979,A bus stop is just 2 blocks away. Easy bus a...,NaN,NaN,https://a2.muscache.com/ac/pictures/b4324e0f-a...,NaN,16708587,https://www.airbnb.com/users/show/16708587,Jill,2014-06-12,"Seattle, Washington, United States"
7421966,NaN,NaN,NaN,https://a0.muscache.com/ac/pictures/94146944/6...,NaN,9851441,https://www.airbnb.com/users/show/9851441,Emily,2013-11-06,"Seattle, Washington, United States"
278830,The nearest public transit bus (D Line) is 2 b...,NaN,NaN,https://a1.muscache.com/ac/pictures/6120468/b0...,NaN,1452570,https://www.airbnb.com/users/show/1452570,Emily,2011-11-29,"Seattle, Washington, United States"

In [144]:
df_listing.iloc[:,10:20].info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 3818 entries, 241032 to 10208623
Data columns (total 10 columns):
transit           2884 non-null object
thumbnail_url     3498 non-null object
medium_url        3498 non-null object
picture_url       3818 non-null object
xl_picture_url    3498 non-null object
host_id           3818 non-null int64
host_url          3818 non-null object
host_name         3816 non-null object
host_since        3816 non-null datetime64[ns]
host_location     3810 non-null object
dtypes: datetime64[ns](1), int64(1), object(8)
memory usage: 328.1+ KB

In [145]:
df_listing.iloc[:,20:30].head()

,host_about,host_response_time,host_response_rate,host_acceptance_rate,host_is_superhost,host_thumbnail_url,host_picture_url,host_neighbourhood,host_listings_count,host_total_listings_count
id,,,,,,,,,,
241032,"I am an artist, interior designer, and run a s...",within a few hours,96%,100%,f,https://a0.muscache.com/ac/users/956883/profil...,https://a0.muscache.com/ac/users/956883/profil...,Queen Anne,3.0,3.0
953595,Living east coast/left coast/overseas. Time i...,within an hour,98%,100%,t,https://a0.muscache.com/ac/users/5177328/profi...,https://a0.muscache.com/ac/users/5177328/profi...,Queen Anne,6.0,6.0
3308979,i love living in Seattle. i grew up in the mi...,within a few hours,67%,100%,f,https://a1.muscache.com/ac/users/16708587/prof...,https://a1.muscache.com/ac/users/16708587/prof...,Queen Anne,2.0,2.0
7421966,NaN,NaN,NaN,NaN,f,https://a2.muscache.com/ac/users/9851441/profi...,https://a2.muscache.com/ac/users/9851441/profi...,Queen Anne,1.0,1.0
278830,"Hi, I live in Seattle, Washington but I'm orig...",within an hour,100%,NaN,f,https://a0.muscache.com/ac/users/1452570/profi...,https://a0.muscache.com/ac/users/1452570/profi...,Queen Anne,2.0,2.0

In [146]:
df_listing.iloc[:,20:30].info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 3818 entries, 241032 to 10208623
Data columns (total 10 columns):
host_about                   2959 non-null object
host_response_time           3295 non-null object
host_response_rate           3295 non-null object
host_acceptance_rate         3045 non-null object
host_is_superhost            3816 non-null object
host_thumbnail_url           3816 non-null object
host_picture_url             3816 non-null object
host_neighbourhood           3518 non-null object
host_listings_count          3816 non-null float64
host_total_listings_count    3816 non-null float64
dtypes: float64(2), object(8)
memory usage: 328.1+ KB

In [147]:
df_listing['host_acceptance_rate'] = df_listing['host_acceptance_rate'].str.strip("%")

In [148]:
df_listing['host_response_rate'] = df_listing['host_response_rate'].str.strip("%")

In [149]:
df_listing['host_response_rate'] = df_listing['host_response_time'].astype('category')

In [150]:
df_listing['host_neighbourhood'] = df_listing['host_neighbourhood'].astype('category')

In [154]:
df_listing['host_is_superhost'] = df_listing['host_is_superhost'].replace({'t': True,'f':False})

In [155]:
df_listing['host_has_profile_pic'] = df_listing['host_has_profile_pic'].replace({'t': True,'f':False})

In [156]:
df_listing['host_identity_verified'] = df_listing['host_identity_verified'].replace({'t': True,'f':False})

In [157]:
df_listing['is_location_exact'] = df_listing['is_location_exact'].replace({'t': True,'f':False})

In [88]:
df_listing.iloc[:,30:40].head()

,host_verifications,host_has_profile_pic,host_identity_verified,street,neighbourhood,neighbourhood_cleansed,neighbourhood_group_cleansed,city,state,zipcode
id,,,,,,,,,,
241032,"['email', 'phone', 'reviews', 'kba']",t,t,"Gilman Dr W, Seattle, WA 98119, United States",Queen Anne,West Queen Anne,Queen Anne,Seattle,WA,98119
953595,"['email', 'phone', 'facebook', 'linkedin', 're...",t,t,"7th Avenue West, Seattle, WA 98119, United States",Queen Anne,West Queen Anne,Queen Anne,Seattle,WA,98119
3308979,"['email', 'phone', 'google', 'reviews', 'jumio']",t,t,"West Lee Street, Seattle, WA 98119, United States",Queen Anne,West Queen Anne,Queen Anne,Seattle,WA,98119
7421966,"['email', 'phone', 'facebook', 'reviews', 'jum...",t,t,"8th Avenue West, Seattle, WA 98119, United States",Queen Anne,West Queen Anne,Queen Anne,Seattle,WA,98119
278830,"['email', 'phone', 'facebook', 'reviews', 'kba']",t,t,"14th Ave W, Seattle, WA 98119, United States",Queen Anne,West Queen Anne,Queen Anne,Seattle,WA,98119

In [158]:
df_listing.iloc[:,40:50].info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 3818 entries, 241032 to 10208623
Data columns (total 10 columns):
market               3818 non-null object
smart_location       3818 non-null object
country_code         3818 non-null object
country              3818 non-null object
latitude             3818 non-null float64
longitude            3818 non-null float64
is_location_exact    3818 non-null bool
property_type        3817 non-null object
room_type            3818 non-null object
accommodates         3818 non-null int64
dtypes: bool(1), float64(2), int64(1), object(6)
memory usage: 302.0+ KB

In [91]:
df_listing.iloc[:,40:50].head()

,market,smart_location,country_code,country,latitude,longitude,is_location_exact,property_type,room_type,accommodates
id,,,,,,,,,,
241032,Seattle,"Seattle, WA",US,United States,47.636289,-122.371025,t,Apartment,Entire home/apt,4
953595,Seattle,"Seattle, WA",US,United States,47.639123,-122.365666,t,Apartment,Entire home/apt,4
3308979,Seattle,"Seattle, WA",US,United States,47.629724,-122.369483,t,House,Entire home/apt,11
7421966,Seattle,"Seattle, WA",US,United States,47.638473,-122.369279,t,Apartment,Entire home/apt,3
278830,Seattle,"Seattle, WA",US,United States,47.632918,-122.372471,t,House,Entire home/apt,6